*{
  padding: 0;
  margin: 0;
}

   .team-container {
    
    color: #fff;
    padding: 20px;
    text-align: center;
     background-image: url('back5.jpg');   
        background-size: cover;
        background-repeat: no-repeat;
         background-attachment: fixed;
      
        
  }
  .team-container h1{
    margin-top: 70px;
    color: beige;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  .team-section h2{
    position: sticky;
    top:10px;
    font-size: 30px;
    z-index: 5;
    border-color:black;
  }
  .team-section {
    margin-top: 50px;
    font-family: "Protest Revolution", sans-serif;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
  }
  
  .card-wrapper {
    flex: 1 1 calc(25% - 30px);
    margin-bottom: 30px;
  }
  
  @media (max-width: 768px) {
    .card-wrapper {
      flex: 1 1 100%;
    }
    
  }
  @media (min-width:720px) {
    .team-container{
       
        display: flex;
      flex-direction: column;
      align-items: center;
     
    }
    
  }

