.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;
    border-radius: 13px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    background-color: transparent;    
    backdrop-filter: blur(50px);
    
}


nav img {
    width: 100px;
    cursor: pointer;
}

.navlogo {
    height: 80px;
    width: 80px;
    cursor: pointer;
}




.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}


.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}


.nav-links i {
    padding-right: 10px;
}

.nav-links:hover {
    background: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #151516;
    color: #fff;
}

.menu-icons {
    display: none;
}


@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: transparent;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 10rem;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.60);
    }
    
    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
        background-color: #01959a;
        
        
    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover {
        background: #01959a;
        transition: none;
    }

    button {
      display: none;  
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: #01959a;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
        
    }

    .menu-icons i {
        font-size: 1.2rem;
        color: white;
    }
}